<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/style.css"
    <title>{% block title %}Home{% endblock %}</title>
</head>
<body>
<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-dark-gray w3-wide w3-padding w3-card">
    <a href="/pojisteni-app" class="w3-bar-item w3-button">PojištěníApp</a>
    <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-center w3-hide-small">
      {% if user.is_authenticated %}
      <a href="/pojisteni-app/pojistenci" class="w3-bar-item w3-button" style="margin-left:150px;">Pojištěnci</a>
      <a href="/pojisteni-app/pojisteni" class="w3-bar-item w3-button w3-text-teal">Pojištění</a>
      <a href="#pojisteni-app/udalosti" class="w3-bar-item w3-button w3-text-teal">Události</a>
      <a href="#pojisteni-app/o-aplikaci" class="w3-bar-item w3-button w3-text-teal">O aplikaci...</a>
    </div>
      <div class="w3-right w3-hide-small">
      <a href="/logout" class="w3-bar-item w3-button">Odhlásit se</a>
      </div>
      <div class="w3-right w3-hide-small" style="margin-top:8px;">
          {{ user.jmeno }} {{ user.prijmeni }}
      </div>
      {% else %}
      <div class="w3-right w3-hide-small">
      <a href="/login" class="w3-bar-item w3-button">Přihlásit se</a>
      <a href="/sign-up" class="w3-bar-item w3-button">Registrace</a>
      {% endif %}
    </div>
  </div>
</div>

<div class="container" style="margin-top:60px;">
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    {% for category, message in messages %}
    {% if category == 'error' %}
    <div class="alert alert-danger alter-dismissable fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% else %}
    <div class="alert alert-success alter-dismissable fade show" role="alert">
         {{ message }}
        <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}
    {% endfor %}
{% endif %}
{% endwith %}
</div>

<div class="container">
    {% block content %}
    {% endblock %}
</div>

<footer class="w3-dark-gray">
    <p>Autor: Martin Le<br> Kontakt: <a href="mailto:marty.le@seznam.cz" style="color:yellow;">marty.le@seznam.cz</a></p>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>
